<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Floods Prediction - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="home-page">

    <div class="navbar">
        <a href="/">Home</a>
    </div>

    <div class="container">
        <h1>Floods Prediction</h1>
        <h2>Introduction</h2>
        <p>
            Flood forecasting is the use of forecast precipitation and streamflow data in rainfall-runoff and streamflow routing models to forecast flow rates and stage levels for periods ranging from few hours to days ahead, depending on the size of the watershed or river basin.
            Flood forecasting can also make use of forecasts of precipitation, in an attempt to extend the lead-time available. Effective real-time flood forecasting models could be useful for early warning and disaster prevention.
        </p>

        <div class="button-container">
            <a href="/predict" class="predict-button">Predict Floods</a>
        </div>
    </div>

</body>
</html>
